<div class="top">
    <div class="class-title">
        <h2><%= @lesson.lesson_name %></h2>
    </div>
    <div class="overview">
    <p>授業概要</p>
        <%= @lesson.lesson_dcp %>
    </div>
</div>

<div class="r-btn">
    <%= link_to("レビューする","/posts/#{@lesson.id}/new") %>
    <%= link_to("授業を削除する","/lessons/#{@lesson.id}/destroy",{method:"post"}) %>
</div>
<div class="review">
  <% @post.each do |post| %>
    <%= link_to("/posts/#{post.id}") do %>
            <div class="contents">
                <div class="star">
                       
                </div>
                <div class="coment">
                    <%= post.content %>
                </div>
                <div class="name">
                    <%= post.user.name %>
                </div>
            </div>
        <% end %>
    
    <% end %>
   
</div>